.DS_Store
node_modules/
dist/
build/
sessions/
npm-debug.log
yarn-error.log
.vscode/
.vs/
bin/
obj/
logs/
data/
ssl/

# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj

apiKeys.js
keys.js
appsettings.json
db.js
docker-compose.prod.yml
websrv.conf
.env
