$backgroundColor: #e9ecef;
$workColor: white;
//$mainFont: "Aleo";
$mainColor: #ffc40d !default;
$textColor: #555;
$mainSemiOpacity: 0.75;
$hoverTextColor: black;
$mainMargin: 1em;
.fullSize {
  height: 100%;
  width: 100%;
}

.circle {
  border-radius: 50%;
}

button {
  @extend .btn;
  @extend .btn-lg;
  @extend .btn-primary;
}

$primary: $mainColor !default;
@import "../../../../node_modules/bootstrap/scss/bootstrap";
body,
html {
  //font-family: $mainFont, Georgia, "Times New Roman", Times, serif;
  color: $textColor;
  background-color: $backgroundColor; //@extend .fullSize;
}

.em1 {
  width: 1em;
  height: 1em;
}

.em2 {
  width: 2em;
  height: 2em;
}

a {
  color: $textColor;
}

a:hover {
  color: $hoverTextColor;
  text-decoration: none;
}

.errorText {
  @extend .invalid-feedback;
  display: block;
}

.hidden {
  visibility: hidden;
}
