$backgroundColor : #ccc;
$mainFont: 'Aleo';
$textColor: #333;
$mediaSmallWidth : 478px;
$mediaMediumWidth : 740px;
.fullSize {
    height: 100%;
    width: 100%;
}

@import "./fontFaces.main.scss";
body,
html {
    font-family: $mainFont, Georgia, 'Times New Roman', Times, serif;
    color: $textColor;
    background-color: $backgroundColor;
    @extend .fullSize;
}

#app {
    @extend .fullSize;
}